/* Side background on Login / Register */

.auth-side-bg{
    background-image: url('../images/auth/portada_new.png');
    background-position: center right;
    background-size: cover;
}

.auth-register {

    padding: 50px 0px 50px;
    
    & .p-card{
        background-color: yellow !important;
        border: 1px solid red;
    }

}
